<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL 구문 작성하는 공간 -->
<!-- namespace : 해당하는 mapper 파일을 구분하는 이름
    ** 반드시 해당하는 SQL 구문을 호출하는 DAO 클래스 이름과 동일하게 작성!
 -->

<mapper namespace="com.cloud.db.MemberDAO">

    <!-- 
        내가 만들어야 하는 SQL 구문에 따라 태그 생성
        insert, update, delete, select 전부 가능!

        1) id 속성 > 해당하는 태그를 구분할 수 있는 이름(고유값) **필수**
            : DAO 메소드명과 동일하게 id값 부여
        
        2) resultType 속성 > SQL 구문을 실행하고 나서, return 해야 하는 결과자료형 기술
            : insert, delete, update와 같은 테이블에 영향을 주는 구문의 경우 무조건 영향을 받은 행의 개수가 되돌아옴! & 생략 가능
            : select는 결과자료형 잘 생각해서 기술

        3) parameterType > 매개변수로 받아올 자료형을 기술
            : 1개의 데이터만 받아올 수 있음
     -->
    
  <insert id="join" parameterType="membervo">
    insert into web_member
    values(#{email}, #{pw}, #{tel}, #{address})
  </insert>

</mapper>